@page
@model Restaurant.Pages.Reservations.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.client)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.phone_number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.phone_number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.observations)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.observations)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.people_expected)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.people_expected)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.table_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.table_id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Reservation.Id">Edit</a> |
    <a asp-page="./IndexAdmin">Back to Reservation</a>
</div>
