@page
@model Restaurant.Pages.Reservations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>RESERVATION</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].phone_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].observations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].people_expected)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].table_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reservation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.observations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.people_expected)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.table_id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
